@font-face {
  font-family: 'Shree1076';
  src: url('https://ajspirevaibhav.github.io/shree/fonts/shree1076.woff2') format('woff2'),
       url('https://ajspirevaibhav.github.io/shree/fonts/shree1076.woff') format('woff');
}

@font-face {
  font-family: 'Shree2317';
  src: url('https://ajspirevaibhav.github.io/shree/fonts/shree2317.woff2') format('woff2'),
       url('https://ajspirevaibhav.github.io/shree/fonts/shree2317.woff') format('woff');
}
