@font-face {
  font-family: 'Shree1076';
  src: url('./fonts/SHREE-DEV7-1076.woff2') format('woff2'),
       url('./fonts/SHREE-DEV7-1076.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Shree2317';
  src: url('./fonts/SHREE-DEV7-2317.woff2') format('woff2'),
       url('./fonts/SHREE-DEV7-2317.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
